.nav-container {
    /* background-color: black;
    color: white;
    position: fixed;
    overflow: hidden; */

    overflow: hidden;
    background-color: #060606;
    color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.logo {
    font-size: 40px;
    font-family: sans-serif;
}

.cart {
    display: flex;
    font-size: 30px;
    cursor: pointer;
}

.cart p {
    font-size: 20px;
}